hostname {{ hostname }}

no ip domain lookup
ip domain name {{ domain_name }}
ip ssh version 2
ip name-server {{ name_server_pri }}
ip name-server {{ name_server_sec }}

ntp server {{ ntp_server_pri }} prefer
ntp server {{ ntp_server_sec }}

logging host {{ splunk_pri }}
logging host {{ splunk_sec }}